@font-face {
  font-family: BCSans;
  font-weight: normal;
  src: url("../font/BCSans-Regular.woff") format("woff");
}

@font-face {
  font-family: BCSans;
  font-weight: bold;
  src: url("../font/BCSans-Bold.woff") format("woff");
}

h1 {
  margin: 0;
}

.login-pf body {
  background: none;
  font-family: 'BCSans', 'Noto Sans', Verdana, Arial, sans-serif;
  color: #000;
  margin: 0;
  min-height: 0;
}

.login-pf-page, .login-pf-page-header {
  margin-bottom: 0;
  padding-top: 0;
}

.login-pf-header {
  margin-bottom: 0;
}

.hidden {
  /* Hide keycloak local account login */
  display: none;
}

#kc-form-wrapper {
  width: 100%;
  margin-bottom: 20px;
  border-right: none;
  margin-top: 0;
}

#kc-header-wrapper {
  top: 0;
  position: fixed;
  z-index: 150;
  align-items: center;
  background-color: #036;
  width: 100%;
  max-width: 100vw;
  box-sizing: border-box;
  border-bottom: 2px solid #fcba19;
  padding: 0 65px 0 10px;
  color: #fff;
  display: flex;
  height: 70px;
}

.ssag-logo-wrapper {
  height: 45px;
  display: flex;
  align-items: center;
  margin-right: 30px;
  margin-left: 60px;
}

.ssag-logo {
  height: 37px;
  width: 200px;
}

.ssag-title-wrapper {
  /* height: 45px; */
  width: 100%;
}


.ssag-bottom-title {
  font-size: 32px;
  white-space: nowrap;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
}

.ssag-page {
  padding-top: 70px;
  min-height: calc(100vh - 70px);
  background: #fff;
}

.ssag-title {
  font-family: 'BCSans', 'Noto Sans', Verdana, Arial, sans-serif;
  margin-top: 3%;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 2%;
}

.login-pf-accounts,
.card-pf {
  max-width: 450px;
  padding: 10px 20px;
}

.login-pf-header {
  margin-bottom: 10px;
  text-align: center;
  position: relative;
}

header.login-pf-header::before {
  /* content: url('../img/logo.svg'); */
  display: block;
  /* padding-bottom: 20px; */
}

.card-pf {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
  border-top: 0;
}

/* On mouse-over, add a deeper shadow */
.ssag-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.kc-social-links {
  padding-inline-start: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.kc-social-provider-name {
  width: 277px;
}

.social-link {
  height: 37px;
  width: 100%;
  color: white;
  background-color: #003366;
  border-radius: 5px;
  display: block;
  color: white;
  margin-top: 15px;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  font-weight: 700;
}

.social-link:hover {
  background-color: #1A5A96;
  text-decoration: none;
  color: #fff;
}

.social-link:active {
  background-color: #8cb3d7;
  color: white;
  text-decoration: none;
}

.ssag-footer {
  background-color: #036;
  height: 70px;
  border-top: 2px solid #fcba19;
  position: relative;
}

.ssag-footer-elements {
  display: absolute;
  height: 70px;
  width: 100%;
  z-index: 10;
  color: #fff;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  padding: 10px 90px 0;
}

.ssag-footer-elements > .links {
  font-size: 12px;
  padding-left: 3px;
  padding-right: 3px;
}

.ssag-footer-elements > .links:hover {
  text-decoration: underline;
  cursor: pointer;
}

.ssag-footer-elements > .divider {
  color: #4B5E73;
}

span, span:hover {
  color: white;
}

#kc-page-subtitle {
  margin-top: 10px;
  font-size: 18px;
  text-align: center;
}

#kc-info {
  text-align: center;
}

#kc-social-providers {
  border: none;
  width: 100%;
  padding: 0;
}

#kc-content-wrapper {
  margin-top: 0px;
}

/* local login button, github, IDIR, BCeID, etc. */
a.zocial,
#kc-login,
a.zocial.keycloak-oidc,
.btn-primary {
  background-image: none;
  background-color: #003366;
  border: none;
  border-radius: 4px;
  color: white;
  text-align: center;
  text-decoration: none;
  display: block;
  font-weight: 700;
  letter-spacing: 1px;
  cursor: pointer;
  max-width: 150px;
  margin-left: auto;
  margin-right: auto;
}

.zocial:hover,
#kc-login:hover {
  background: #ededed !important;
  background-image: none !important;
  text-decoration: underline !important;
  opacity: 0.8 !important;
  color: #036 !important;
}

#kc-error-message {
  padding: 7px 10px 0 10px;
  margin: 5px;
  text-align: center;
  border: 2px solid red;
  border-radius: 5px;
}

@media (max-width: 768px) {

  .login-pf-page, .login-pf-page-header, .login-pf-header {
    margin-bottom: 0;
    padding-top: 0;
  }
}

@media (min-width: 768px) {
  .login-pf-page, .login-pf-page-header, .login-pf-header {
    margin-bottom: 0;
    padding-top: 0;
  }
}
.subtitle {
  margin-top: 0px;
  float: right;
}
