@{
    var appTitle = Environment.GetEnvironmentVariable("APP_NAME");
}

<div>
    <h1 class="bottom-space">Log Into @appTitle</h3>
    <p class="bottom-space">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse aliquam neque sit 
        amet leo vulputate, id finibus justo sollicitudin. 
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus mattis luctus laoreet. 
        Ut congue elit pellentesque, malesuada eros quis, dapibus mi.  
    </p>
    <div>
        <a class="styled-button" asp-area="" asp-controller="Home" asp-action="Login">Login</a>
    </div>
</div>
